.root {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000BB;
    z-index: 1;
}

.contentContainer {
    padding: 40px;
    background-color: #fff;
    z-index: 2;
    border-radius: 15px;
    color: #3C4242;

    & img {
        border-radius: 15px;
    }
}

.buttonsContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.btn {
    padding: 10px 20px;
    background-color: grey;
    border: none;
    outline: none!important;
    cursor: pointer;

    &:hover {
        background-color: gold;
    }

}
