.container {
    width: 80%;
    margin: 0 auto;
    height: fit-content;
    padding: 112px 30px 30px 30px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 30px;

}
