.container {
    margin: 0 auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: lightgray;
    width: 100%;
    padding: 20px 0;
}

.shopName {
    font-size: 34px;
    font-weight: 700;
    line-height: 2.6px;
    font-style: italic;
    text-decoration: none;
    color: gold
}

.cartContainer {
    display: flex;
    gap: 15px;
    align-items: center;
    font-size: 24px;
}

.homePage {
    text-decoration: none;


}

.active {
    color: gold;
}


.themeBtn {
    background: unset;
    border: unset;
    outline: none;
    cursor: pointer;
}