.container {
    padding: 15px 5px 15px;
    position: relative;
   
}

.input {
    padding: 5px;
    border-radius: 5px;
    outline: none;

}

.error {
    color: red;
    font-size: 12px;
}

.highlight {
    border-color: red;
}

.label {
    position: absolute;
    top: -30px;
    left: 200px;
}