.card {
    background-color: lightgray;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    box-shadow: 0 0 5px #363535;
    width: 290px;

}

.listView{
    width: 100%;
    display: flex;
    justify-content: start;
    gap: 50px;
  
}

.image {
    width: 100%;
    height: 393px;
    background-size: cover;
    background-position: center center;
    border-radius: 10px;

}

.listImage {
    min-width: 200px;
    max-width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center center;
  }
  


.productName {
    color: #3C4242;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.9;

}

.productInfo {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;


}

.productPrice {
    color: #807D7E;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.6;
    position: absolute;
    top: 0;
    right: 0;

}

.listPrice {
    position: unset;
  }
  

.starSvg {
    position: absolute;
}

.btnContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    background: lightgray;
    border-radius: 0 30px;

}


.btn {

    background-color: unset;
    border: none;
    cursor: pointer;
    outline: none !important;


    svg {
        fill: #807D7E;
        transition: .2s ease;
        width: 35px;
        height: 35px;
    }
}