.IsFavouriteCounterContainer {
    display: flex;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
}

.counter {
    font-size: 24px;
    color: #3C4242;
    
}

.active svg {
    fill: gold;
}

