.starSvgBasic {
    width: 45px;
    height: 45px;
    cursor: pointer;
   
}

.starSvg {
    
    position: absolute;
    top: 8px;
    right: 8px;  
}

.isFavourite {
    svg, path {
      fill: gold;
      
    }
}