.itemContainer {
    margin-top: 80px;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    background-color: lightgray;
    color: #3C4242;
}

.image {
    width: 20%;
    border-radius: 15px;
}

.addInfo,
.price {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    align-items: start;
}



.countButtonsContainer {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

.countButton {
    padding: 10px 15px;
    background-color: transparent;
    border: 1px solid #3C4242;
    color: lightgray;
    outline: none;
    border: none;
    background-color: gold;

    &:hover {
        background-color: goldenrod;
    }

    &:disabled {
        background-color: gray;
        color: white;
        cursor: default;
    }
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.quantity {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
}

.deleteButton {
    background-color: inherit;
    border: none;
}
